@import "media";

$cols:12;
$gutter:20px;

.row
{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: -$gutter/2;

    @for $i from 1 through $cols {
        .col-xs-#{$i}
        {
            @include xs()
            {
                width: (100%/$cols)*$i;
                padding: $gutter/2;
            }
        }

        .col-sm-#{$i}
        {
            @include sm()
            {
                width: (100%/$cols)*$i;
                padding: $gutter/2;
            }
        }

        .col-md-#{$i}
        {
            @include md()
            {
                width: (100%/$cols)*$i;
                padding: $gutter/2;
            }
        }

        .col-lg-#{$i}
        {
            @include lg()
            {
                width: (100%/$cols)*$i;
                padding: $gutter/2;
            }
        }
        .col-xl-#{$i}
        {
            @include xl()
            {
                width: (100%/$cols)*$i;
                padding: $gutter/2;
            }
        }
    }
}